#disable_html_escaping()
#if ($value)                                                                                                                                                                                        
    $!value.toString()
#end